h3.home-content {
    font-size: 300%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
    color: white;
}
div#container{
    margin:0 auto;
    width: 30em;
    min-width: 20em;
    max-width: 40em;
    height:20em;
}