{% extends 'base.html'%}

{# 嵌套页面标题 #}
{% block title%}
    {{ blog.title }}
{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{# 加载静态文件 #}
{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{# 嵌套页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"><li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li></span>
                    <span class="glyphicon glyphicon-user"><li>作者：{{ blog.author }}</li></span>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"><li>发布日期：{{ blog.created_time|date:"Y-m-d H:i:s" }}</li></span>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"><li>已读：{{ blog.get_read_num }}</li></span>
                </ul>
                <div class="blog-content">{{ blog.content|safe }}</div>
                <div class="blog-more">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title}}</a>
                        {% else %}
                            无内容
                        {% endif %}
                    </button>
                    <button type="button" class="btn btn-default pull-right">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title}}</a>
                        {% else %}
                            无内容
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area1">
                    <h3 class="comment-area-titile">提交评论</h3>
                    {% if user.is_authenticated %}
                        <form action="{% url 'update_comment' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment_text">{{ user }}</label>
                                <textarea id="comment_text" class='form-control' style="resize: none" name="text" rows="6"></textarea>
                            </div>
                            <input type="hidden" name="object_id" value="{{ blog.pk }}">
                            <input type="hidden" name="content_type" value="blog">
                            <input type="submit" value="评论" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        需登录后评论
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span>&nbsp;</span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area2">
                    <h3 class="comment-area-titile">评论列表</h3>
                    {% for comment in comments %}
                        <div>
                        {{ comment.user.username }}
                        {{ comment.comment_time|date:"Y-m-d H:i:s" }}
                        {{ comment.text }}
                        </div>
                    {% empty %}
                        本篇博客暂无评论
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
