{% extends 'base.html'%}

{# 嵌套页面标题 #}
{% block title%}
    网站首页
{% endblock %}

{# 嵌套按钮响应样式内容 #}
{% block nav_blog_active %}active{% endblock %}
{# 加载静态文件 #}
{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}
{# 嵌套页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% block blog_list_title %}博客列表{% endblock %}</h3>
                    </div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">
                                <h3>
                                    <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                                </h3>
                                <p class="blog-info">
                                    {{ blog.content|striptags|truncatechars:150 }}
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"><a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></span>
                                    <span class="glyphicon glyphicon-time" aria-hidden="true">发表日期:{{ blog.created_time|date:"Y-m-d" }}</span>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true">已读:{{ blog.get_read_num }}</span>&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无内容，敬请期待!</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="paginator">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {# 翻页按钮逻辑 #}
                            {# 下一页 #}
                            {% if page_of_blogs.has_previous %}
                                <li>
                                    <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                        <span aria-hidden="true">&laquo;</span>
                                </li>
                            {% endif %}
                            {# 全部页码 #}
                            {% for page_num in page_range %}
                                {% if page_num == page_of_blogs.number %}
                                    <li class="active"><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {# 上一页 #}
                            {% if page_of_blogs.has_next %}
                                <li>
                                    <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                        <span aria-hidden="true">&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <p>
                        共{{ page_of_blogs.paginator.count }}篇，当前第{{ page_of_blogs.number }}页，共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            博客分类
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="blog-types">
                        {% for blog_type in blog_types %}
                            <li>
                                <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                    {{ blog_type.type_name }}({{ blog_type.type_count }})
                                </a>
                            </li>
                        {% empty %}
                            <li>暂无分类</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">博客日期</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="blog-date-panel">
                            {% for blog_date in blog_dates %}
                                <a href="{%url 'blogs_with_date' blog_date.year blog_date.month %}">
                                    <li>{{ blog_date|date:"Y年m月" }}</li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

