ul.blog-types{
    list-style-type:none;
}
ul.blog-date-panel{
    list-style-type:none;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eeeeee;
}
div.blog h3{
    margin-top: 0.5em;
}
ul.blog-info-description{
    list-style-type:none;
    margin-bottom: 1em;
}
ul.blog-info-description li{
    display: inline-block;
    margin-right: 2em;
}
div.blog-content{

}
div.paginator{
    text-align: center;
}
div.blog-more{
    margin-top: 1em;
}
div.comment-area1{
    margin-top:1em;
    border: 1px none;
    padding: 1em;
}
div.comment-area2{
    margin-top:1em;
    border: 1px none;
    padding: 1em;
}
h3.comment-area-titile{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0.4em;
}