{% extends 'base.html'%}
{% load static %}

{% block title %}
    首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="container-fluid" style="background: url({% static "about-bg.jpg" %})">
        <h3 class="home-content text-center">你好，我是铠歌</h3>
    </div>
    <!-- 图表容器 DOM -->
    <div id="container">
        <script>
            // 图表配置
            var options = {
                chart: {type: 'line'},
                title: {text: null},
                xAxis: {
                    categories: {{ dates_showhome|safe }},
                    tickmarkPlacement:'on',
                    title:{text:'近期访问量'},
                },
                yAxis: {
                    title: {text: null},
                    labels:{enabled:false},
                    color:'white',
                    gridLineDashStyle:'Dot',
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: [{name: '阅读量统计', data:{{ read_nums }}}],
                legend:{enabled:false},
                credits:{enabled:false}
            };
            // 图表初始化函数
            var chart = Highcharts.chart('container', options);
        </script>
    </div>

{% endblock %}