<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<script src="Vue.js"></script>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section id="todoapp" class="todoapp" @keyup.enter="add_todo" type="text">
			<header class="header">
				<h1>记事本</h1>
				<input v-model="user_input" class="new-todo" placeholder="待做事项" autofocus>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all" @click="completed_all" >Mark all as complete</label>
				<ul class="todo-list">
					<li v-for="(todo,index) in list_todos" :class="{completed:todo.completed}" v-show="todo.isshow">
						<div class="view">
							<!--点击赋值相反状态-->
							<input class="toggle" type="checkbox" @click=completed_this(index) :checked="todo.completed">
							<label v-text="todo.content"></label>
							<button class="destroy" @click="remove_todo(index)"></button>
						</div>
						<input class="edit" value="Rule the web">
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
            <!--data数组存在长度时才会显示脚注框-->
			<footer class="footer" v-show="list_todos.length">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{ list_todos | filter_uncomplete }}</strong> 项事项</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a @click="filter_all" class="selected" href="#/">所有</a>
					</li>
					<li>
						<a @click="filter_active" class="selected" href="#/active">未完成</a>
					</li>
					<li>
						<a @click="filter_completed" class="selected" href="#/completed">已完成</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button v-show="list_todos.length > now_remaning" class="clear-completed" @click="clear_all">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>请输入回车以确认事项</p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="https://kaigesite.herokuapp.com">董铠歌</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
